<div class="Category">
  <button class="Category-title {{if isOpen "Category-title--open"}}" {{action 'toggleDisplay'}}>
    <span class="octicon {{if isOpen "octicon-chevron-down" "octicon-chevron-right"}}"></span>
    <span class="Category-title-text">Audio</span>
  </button>
  <ul class="Category-items {{if isOpen "Category-items--open"}}">
    <li class="Category-item">
      <label for="volume-slider">
        <i class="octicon octicon-info"></i>
        <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'volume'}}></i>
        Volume
      </label>
      <div class="Category-inputs">
        {{input class="Category-input Category-input--range" data-command="volume" id="volume-slider" type="range" min="0.0" max="1.0" step="0.01" value=data.volume}}
        {{input class="Category-input Category-input--number" type="number" min="0.0" max="1.0" step="0.01" value=data.volume}}
      </div>
    </li>
    <li class="Category-item">
      <label for="music-volume-slider">
        <i class="octicon octicon-info"></i>
        <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'sndMusicvolume'}}></i>
        Music Volume
      </label>
      <div class="Category-inputs">
        {{input class="Category-input Category-input--range" data-command="snd_musicvolume" id="music-volume-slider" type="range" min="0.0" max="1.0" step="0.01" value=data.sndMusicvolume}}
        {{input class="Category-input Category-input--number" type="number" min="0.0" max="1.0" step="0.01" value=data.sndMusicvolume}}
      </div>
    </li>
    <li class="Category-item">
      <label for="speaker-config-select">
        <i class="octicon octicon-info"></i>
        <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'windowsSpeakerConfig'}}></i>
        Speaker Config
      </label>
      <div class="Category-inputs">
        <select class="Category-input Category-input--select" data-command="windows_speaker_config">
          {{#each speakerOptions as |option|}}
            <option {{bind-attr value=option.id}}>{{option.optionName}}</option>
          {{/each}}
        </select>
      </div>
    </li>
    <li class="Category-item">
      <label for="mix-ahead-slider">
        <i class="octicon octicon-info"></i>
        <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'sndMixahead'}}></i>
        Mix Ahead
      </label>
      <div class="Category-inputs">
        {{input class="Category-input Category-input--range" data-command="snd_mixahead" id="mix-ahead-slider" type="range" min="0.0" max="1.0" step="0.05" value=data.sndMixahead}}
        {{input class="Category-input Category-input--number" type="number" min="0.0" max="1.0" step="0.05" value=data.sndMixahead}}
      </div>
    </li>
    <li class="Category-item">
      <label for="headphone-pan-exponent-slider">
        <i class="octicon octicon-info"></i>
        <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'sndHeadphonePanExponent'}}></i>
        Pan Exponent
      </label>
      <div class="Category-inputs">
        {{input class="Category-input Category-input--range" data-command="snd_headphone_pan_exponent" id="headphone-pan-exponent-slider" type="range" min="0" max="100" step="1" value=data.sndHeadphonePanExponent}}
        {{input class="Category-input Category-input--number" type="number" min="0" max="100" step="1" value=data.sndHeadphonePanExponent}}
      </div>
    </li>
    <li class="Category-item">
      <label for="headphone-pan-radial-weight-slider">
        <i class="octicon octicon-info"></i>
        <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'sndHeadphonePanRadialWeight'}}></i>
        Pan Radial Weight
      </label>
      <div class="Category-inputs">
        {{input class="Category-input Category-input--range" data-command="snd_headphone_pan_radial_weight" id="headphone-pan-radial-weight-slider" type="range" min="0" max="100" step="1" value=data.sndHeadphonePanRadialWeight}}
        {{input class="Category-input Category-input--number" type="number" min="0" max="100" step="1" value=data.sndHeadphonePanRadialWeight}}
      </div>
    </li>
    <li class="Category-item">
      <label for="legacy-surround-box">
        <i class="octicon octicon-info"></i>
        <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'sndLegacySurround'}}></i>
        Legacy Surround
      </label>
      <div class="Category-inputs">
        {{input class="Category-input Category-input--checkbox" data-command="snd_legacy_surround" id="legacy-surround-box" type="checkbox" checked=data.sndLegacySurround}}
      </div>
    </li>
    <li class="Category-item">
      <label for="sound-in-background-box">
        <i class="octicon octicon-info"></i>
        <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'sndMuteLosefocus'}}></i>
        Mute Lose Focus
      </label>
      <div class="Category-inputs">
        {{input class="Category-input Category-input--checkbox" data-command="snd_mute_losefocus" id="sound-in-background-box" type="checkbox" checked=data.sndMuteLosefocus}}
      </div>
    </li>
    <li class="Category-item">
      <label for="voice-scale-slider">
        <i class="octicon octicon-info"></i>
        <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'voiceScale'}}></i>
        Voice Scale
      </label>
      <div class="Category-inputs">
        {{input class="Category-input Category-input--range" data-command="voice_scale" id="voice-scale-slider" type="range" min="0.0" max="1.0" step="0.05" value=data.voiceScale}}
        {{input class="Category-input Category-input--number" type="number" min="0.0" max="1.0" step="0.05" value=data.voiceScale}}
      </div>
    </li>
    <li class="Category-item">
      <label for="voice-enable-box">
        <i class="octicon octicon-info"></i>
        <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'voiceEnable'}}></i>
        Voice Enable
      </label>
      <div class="Category-inputs">
        {{input class="Category-input Category-input--checkbox" data-command="voice_enable" id="voice-enable-box" type="checkbox" checked=data.voiceEnable}}
      </div>
    </li>
    <li class="Category-item">
      <label for="voice-chat-in-lobby-box">
        <i class="octicon octicon-info"></i>
        <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'lobbyVoiceChatEnabled'}}></i>
        Lobby Voice Chat
      </label>
      <div class="Category-inputs">
        {{input class="Category-input Category-input--checkbox" data-command="lobby_voice_chat_enabled" id="voice-chat-in-lobby-box" type="checkbox" checked=data.lobbyVoiceChatEnabled}}
      </div>
    </li>
  </ul>
</div>
