<div class="Category">
  <button class="Category-title {{if isOpen "Category-title--open"}}" {{action 'toggleDisplay'}}>
    <span class="octicon {{if isOpen "octicon-chevron-down" "octicon-chevron-right"}}"></span>
    <span class="Category-title-text">Crosshair</span>
  </button>
  <ul class="Category-items {{if isOpen "Category-items--open"}}">
    <li class="Category-item">
      <label for="crosshair-style-select">
        <i class="octicon octicon-info"></i>
        <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'clCrosshairstyle'}}></i>
        Style
      </label>
      <div class="Category-inputs">
        <select class="Category-input Category-input--select" data-command="cl_crosshairstyle">
          {{#each styleOptions as |option|}}
            <option {{bind-attr value=option.id}}>{{option.optionName}}</option>
          {{/each}}
        </select>
      </div>
    </li>
    <li class="Category-item">
      <label for="crosshair-color-r-slider">
        <i class="octicon octicon-info"></i>
        <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'clCrosshaircolorR'}}></i>
        Red
      </label>
      <div class="Category-inputs">
        {{input class="Category-input Category-input--range" data-command="cl_crosshaircolor_r" id="crosshair-color-r-slider" type="range" min="0" max="255" step="1" value=data.clCrosshaircolorR}}
        {{input class="Category-input Category-input--number" type="number" min="0" max="255" step="1" value=data.clCrosshaircolorR}}
      </div>
    </li>
    <li class="Category-item">
      <label for="crosshair-color-g-slider">
        <i class="octicon octicon-info"></i>
        <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'clCrosshaircolorG'}}></i>
        Green
      </label>
      <div class="Category-inputs">
        {{input class="Category-input Category-input--range" data-command="cl_crosshaircolor_g" id="crosshair-color-g-slider" type="range" min="0" max="255" step="1" value=data.clCrosshaircolorG}}
        {{input class="Category-input Category-input--number" type="number" min="0" max="255" step="1" value=data.clCrosshaircolorG}}
      </div>
    </li>
    <li class="Category-item">
      <label for="crosshair-color-b-slider">
        <i class="octicon octicon-info"></i>
        <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'clCrosshaircolorB'}}></i>
        Blue
      </label>
      <div class="Category-inputs">
        {{input class="Category-input Category-input--range" data-command="cl_crosshaircolor_b" id="crosshair-color-b-slider" type="range" min="0" max="255" step="1" value=data.clCrosshaircolorB}}
        {{input class="Category-input Category-input--number" type="number" min="0" max="255" step="1" value=data.clCrosshaircolorB}}
      </div>
    </li>
    <li class="Category-item">
      <label for="crosshair-alpha-slider">
        <i class="octicon octicon-info"></i>
        <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'clCrosshairalpha'}}></i>
        Alpha
      </label>
      <div class="Category-inputs">
        {{input class="Category-input Category-input--range" data-command="cl_crosshairalpha" id="crosshair-alpha-slider" type="range" min="0" max="255" step="1" value=data.clCrosshairalpha}}
        {{input class="Category-input Category-input--number" type="number" min="0" max="255" step="1" value=data.clCrosshairalpha}}
      </div>
    </li>
    <li class="Category-item">
      <label for="crosshair-draw-outline-box">
        <i class="octicon octicon-info"></i>
        <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'clCrosshairDrawoutline'}}></i>
        Draw Outline
      </label>
      <div class="Category-inputs">
        {{input class="Category-input Category-input--checkbox" data-command="cl_crosshair_drawoutline" id="crosshair-draw-outline-box" type="checkbox" checked=data.clCrosshairDrawoutline}}
      </div>
    </li>
    <li class="Category-item">
      <label for="crosshair-outline-thickness-slider">
        <i class="octicon octicon-info"></i>
        <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'clCrosshairOutlinethickness'}}></i>
        Outline Thickness
      </label>
      <div class="Category-inputs">
        {{input class="Category-input Category-input--range" data-command="cl_crosshair_outlinethickness" id="crosshair-outline-thickness-slider" type="range" min="0" max="3" step="1" value=data.clCrosshairOutlinethickness}}
        {{input class="Category-input Category-input--number" type="number" min="0" max="3.0" step="1" value=data.clCrosshairOutlinethickness}}
      </div>
    </li>
    <li class="Category-item">
      <label for="crosshair-size-slider">
        <i class="octicon octicon-info"></i>
        <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'clCrosshairsize'}}></i>
        Size
      </label>
      <div class="Category-inputs">
        {{input class="Category-input Category-input--range" data-command="cl_crosshairsize" id="crosshair-size-slider" type="range" min="-1" max="200" step="0.5" value=data.clCrosshairsize}}
        {{input class="Category-input Category-input--number" type="number" min="-1" max="200" step="0.5" value=data.clCrosshairsize}}
      </div>
    </li>
    <li class="Category-item">
      <label for="crosshair-thickness-slider">
        <i class="octicon octicon-info"></i>
        <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'clCrosshairthickness'}}></i>
        Thickness
      </label>
      <div class="Category-inputs">
        {{input class="Category-input Category-input--range" data-command="cl_crosshairthickness" id="crosshair-thickness-slider" type="range" min="0" max="200" step="0.5" value=data.clCrosshairthickness}}
        {{input class="Category-input Category-input--number" type="number" min="0" max="200" step="0.5" value=data.clCrosshairthickness}}
      </div>
    </li>
    <li class="Category-item">
      <label for="crosshair-gap-slider">
        <i class="octicon octicon-info"></i>
        <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'clCrosshairgap'}}></i>
        Gap
      </label>
      <div class="Category-inputs">
        {{input class="Category-input Category-input--range" data-command="cl_crosshairgap" id="crosshair-gap-slider" type="range" min="-100" max="100" step="1" value=data.clCrosshairgap}}
        {{input class="Category-input Category-input--number" type="number" min="-100" max="100" step="1" value=data.clCrosshairgap}}
      </div>
    </li>
    <li class="Category-item">
      <label for="crosshair-dot-box">
        <i class="octicon octicon-info"></i>
        <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'clCrosshairdot'}}></i>
        Dot
      </label>
      <div class="Category-inputs">
        {{input class="Category-input Category-input--checkbox" data-command="cl_crosshairdot" id="crosshair-dot-box" type="checkbox" checked=data.clCrosshairdot}}
      </div>
    </li>
  </ul>
</div>
