<div class="Category">
  <button class="Category-title {{if isOpen "Category-title--open"}}" {{action 'toggleDisplay'}}>
    <span class="octicon {{if isOpen "octicon-chevron-down" "octicon-chevron-right"}}"></span>
    <span class="Category-title-text">HUD</span>
  </button>
  <ul class="Category-items {{if isOpen "Category-items--open"}}">
    <li class="Category-item">
      <label for="hude-scale-slider">
        <i class="octicon octicon-info"></i>
        <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'hudScaling'}}></i>
        HUD Scale
      </label>
      <div class="Category-inputs">
        {{input class="Category-input Category-input--range" data-command="hud_scaling" id="hud-scale-slider" type="range" min="0.5" max="0.95" step="0.01" value=data.hudScaling}}
        {{input class="Category-input Category-input--number" type="number" min="0.5" max="0.95" step="0.01" value=data.hudScaling}}
      </div>
    </li>
    <li class="Category-item">
      <label for="hud-background-alpha-slider">
        <i class="octicon octicon-info"></i>
        <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'clHudBackgroundAlpha'}}></i>
        HUD Background Alpha
      </label>
      <div class="Category-inputs">
        {{input class="Category-input Category-input--range" data-command="cl_hud_background_alpha" id="hud-background-alpha-slider" type="range" min="0.0" max="1.0" step="0.05" value=data.clHudBackgroundAlpha}}
        {{input class="Category-input Category-input--number" type="number" min="0.0" max="1.0" step="0.05" value=data.clHudBackgroundAlpha}}
      </div>
    </li>
    <li class="Category-item">
      <label for="hud-color-select">
        <i class="octicon octicon-info"></i>
        <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'clHudColor'}}></i>
        HUD Color
      </label>
      <div class="Category-inputs">
        <select class="Category-input Category-input--select" data-command="cl_hud_color">
          {{#each hudcolorOptions as |option|}}
            <option {{bind-attr value=option.id}}>{{option.optionName}}</option>
          {{/each}}
        </select>
      </div>
    </li>
    <li class="Category-item">
      <label for="color-wrapon-name-box">
        <i class="octicon octicon-info"></i>
        <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'clLoadoutColorweaponnames'}}></i>
        Color Weapon Name
      </label>
      <div class="Category-inputs">
        {{input class="Category-input Category-input--checkbox" data-command="cl_loadout_colorweaponnames" id="color-wrapon-name-box" type="checkbox" checked=data.clLoadoutColorweaponnames}}
      </div>
    </li>
    <li class="Category-item">
      <label for="simple-healh-and-ammo-box">
        <i class="octicon octicon-info"></i>
        <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'clHudHealthammoStyle'}}></i>
        Simple Health and Ammo
      </label>
      <div class="Category-inputs">
        {{input class="Category-input Category-input--checkbox" data-command="cl_hud_healthammo_style" id="simple-healh-and-ammo-box" type="checkbox" checked=data.clHudHealthammoStyle}}
      </div>
    </li>
    <li class="Category-item">
      <label for="show-player-count-box">
        <i class="octicon octicon-info"></i>
        <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'clHudPlayercountShowcount'}}></i>
        Show Player Count
      </label>
      <div class="Category-inputs">
        {{input class="Category-input Category-input--checkbox" data-command="cl_hud_playercount_showcount" id="show-player-count-box" type="checkbox" checked=data.clHudPlayercountShowcount}}
      </div>
    </li>
    <li class="Category-item">
      <label for="player-count-at-bottom-box">
        <i class="octicon octicon-info"></i>
        <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'clHudPlayercountPos'}}></i>
        Player Count at Bottom
      </label>
      <div class="Category-inputs">
        {{input class="Category-input Category-input--checkbox" data-command="cl_hud_playercount_pos" id="player-count-at-bottom-box" type="checkbox" checked=data.clHudPlayercountPos}}
      </div>
    </li>
    <li class="Category-item">
      <label for="FOV-slider">
        <i class="octicon octicon-info"></i>
        <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'viewmodelFov'}}></i>
        Field of View
      </label>
      <div class="Category-inputs">
        {{input class="Category-input Category-input--range" data-command="viewmodel_fov" id="FOV-slider" type="range" min="54" max="68" step="1" value=data.viewmodelFov}}
        {{input class="Category-input Category-input--number" type="number" min="54" max="68" step="1" value=data.viewmodelFov}}
      </div>
    </li>
    <li class="Category-item">
      <label for="viewmodel-offset-x-slider">
        <i class="octicon octicon-info"></i>
        <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'viewmodelOffsetX'}}></i>
        Viewmodel Offset X
      </label>
      <div class="Category-inputs">
        {{input class="Category-input Category-input--range" data-command="viewmodel_offset_x" id="viewmodel-offset-x-slider" type="range" min="-2.0" max="2.5" step="0.1" value=data.viewmodelOffsetX}}
        {{input class="Category-input Category-input--number" type="number" min="-2.0" max="2.5" step="0.1" value=data.viewmodelOffsetX}}
      </div>
    </li>
    <li class="Category-item">
      <label for="viewmodel-offset-y-slider">
        <i class="octicon octicon-info"></i>
        <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'viewmodelOffsetY'}}></i>
        Viewmodel Offset Y
      </label>
      <div class="Category-inputs">
        {{input class="Category-input Category-input--range" data-command="viewmodel_offset_y" id="viewmodel-offset-y-slider" type="range" min="-2.0" max="2.5" step="0.1" value=data.viewmodelOffsetY}}
        {{input class="Category-input Category-input--number" type="number" min="-2.0" max="2.5" step="0.1" value=data.viewmodelOffsetY}}
      </div>
    </li>
    <li class="Category-item">
      <label for="viewmodel-offset-z-slider">
        <i class="octicon octicon-info"></i>
        <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'viewmodelOffsetZ'}}></i>
        Viewmodel Offset Z
      </label>
      <div class="Category-inputs">
        {{input class="Category-input Category-input--range" data-command="viewmodel_offset_z" id="viewmodel-offset-z-slider" type="range" min="-2.0" max="2.5" step="0.1" value=data.viewmodelOffsetZ}}
        {{input class="Category-input Category-input--number" type="number" min="-2.0" max="2.5" step="0.1" value=data.viewmodelOffsetZ}}
      </div>
    </li>
    <li class="Category-item">
      <label for="viewmodel-presetpos-select">
        <i class="octicon octicon-info"></i>
        <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'viewmodelPresetpos'}}></i>
        Preset Viewmodel
      </label>
      <div class="Category-inputs">
        <select class="Category-input Category-input--select" data-command="viewmodel_presetpos">
          {{#each viewmodelOptions as |option|}}
            <option {{bind-attr value=option.id}}>{{option.optionName}}</option>
          {{/each}}
        </select>
      </div>
    </li>
    <li class="Category-item">
      <label for="shooting-movement-left-slider">
        <i class="octicon octicon-info"></i>
        <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'clViewmodelShiftLeftAmt'}}></i>
        Shooting Movement Left
      </label>
      <div class="Category-inputs">
        {{input class="Category-input Category-input--range" data-command="cl_viewmodel_shift_left_amt" id="shooting-movement-left-slider" type="range" min="0.5" max="2.0" step="0.05" value=data.clViewmodelShiftLeftAmt}}
        {{input class="Category-input Category-input--number" type="number" min="0.5" max="2.0" step="0.05" value=data.clViewmodelShiftLeftAmt}}
      </div>
    </li>
    <li class="Category-item">
      <label for="shooting-movement-right-slider">
        <i class="octicon octicon-info"></i>
        <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'clViewmodelShiftRightAmt'}}></i>
        Shooting Movement Right
      </label>
      <div class="Category-inputs">
        {{input class="Category-input Category-input--range" data-command="cl_viewmodel_shift_right_amt" id="shooting-movement-right-slider" type="range" min="0.25" max="2.0" step="0.05" value=data.clViewmodelShiftRightAmt}}
        {{input class="Category-input Category-input--number" type="number" min="0.25" max="2.0" step="0.05" value=data.clViewmodelShiftRightAmt}}
      </div>
    </li>
    <li class="Category-item">
      <label for="bobcycle-slider">
        <i class="octicon octicon-info"></i>
        <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'clBobcycle'}}></i>
        Bobcycle
      </label>
      <div class="Category-inputs">
        {{input class="Category-input Category-input--range" data-command="cl_bobcycle" id="bobcycle-slider" type="range" min="0.1" max="2.0" step="0.01" value=data.clBobcycle}}
        {{input class="Category-input Category-input--number" type="number" min="0.1" max="2.0" step="0.01" value=data.clBobcycle}}
      </div>
    </li>
    <li class="Category-item">
      <label for="bob-lower-limit-slider">
        <i class="octicon octicon-info"></i>
        <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'clBobLowerAmt'}}></i>
        Bob (Lower Limit)
      </label>
      <div class="Category-inputs">
        {{input class="Category-input Category-input--range" data-command="cl_bob_lower_amt" id="bob-lower-limit-slider" type="range" min="5" max="30" step="1" value=data.clBobLowerAmt}}
        {{input class="Category-input Category-input--number" type="number" min="5" max="30" step="1" value=data.clBobLowerAmt}}
      </div>
    </li>
    <li class="Category-item">
      <label for="bob-lat-slider">
        <i class="octicon octicon-info"></i>
        <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'clBobamtLat'}}></i>
        Bob Lat
      </label>
      <div class="Category-inputs">
        {{input class="Category-input Category-input--range" data-command="cl_bobamt_lat" id="bob-lat-slider" type="range" min="0.1" max="2.0" step="0.1" value=data.clBobamtLat}}
        {{input class="Category-input Category-input--number" type="number" min="0.1" max="2.0" step="0.1" value=data.clBobamtLat}}
      </div>
    </li>
    <li class="Category-item">
      <label for="bob-vertical-slider">
        <i class="octicon octicon-info"></i>
        <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'clBobamtVert'}}></i>
        Bob Vertical
      </label>
      <div class="Category-inputs">
        {{input class="Category-input Category-input--range" data-command="cl_bobamt_vert" id="bob-vertical-slider" type="range" min="0.1" max="2.0" step="0.1" value=data.clBobamtVert}}
        {{input class="Category-input Category-input--number" type="number" min="0.1" max="2.0" step="0.1" value=data.clBobamtVert}}
      </div>
    </li>
    <li class="Category-item">
      <label for="show-target-id-box">
        <i class="octicon octicon-info"></i>
        <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'hudShowtargetid'}}></i>
        Show Target ID
      </label>
      <div class="Category-inputs">
        {{input class="Category-input Category-input--checkbox" data-command="hud_showtargetid" id="show-target-id-box" type="checkbox" checked=data.hudShowtargetid}}
      </div>
    </li>
    <li class="Category-item">
      <label for="draw-only-deathnotices-box">
        <i class="octicon octicon-info"></i>
        <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'clDrawOnlyDeathnotices'}}></i>
        Draw Only Deathnotices
      </label>
      <div class="Category-inputs">
        {{input class="Category-input Category-input--checkbox" data-command="cl_draw_only_deathnotices" id="draw-only-deathnotices-box" type="checkbox" checked=data.clDrawOnlyDeathnotices}}
      </div>
    </li>
    <li class="Category-item">
      <label for="right-handed-box">
        <i class="octicon octicon-info"></i>
        <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'clRighthand'}}></i>
        Right Handed
      </label>
      <div class="Category-inputs">
        {{input class="Category-input Category-input--checkbox" data-command="cl_righthand" id="right-handed-box" type="checkbox" checked=data.clRighthand}}
      </div>
    </li>
    <li class="Category-item">
      <label for="show-loadout-box">
        <i class="octicon octicon-info"></i>
        <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'clShowloadout'}}></i>
        Show Loadout
      </label>
      <div class="Category-inputs">
        {{input class="Category-input Category-input--checkbox" data-command="cl_showloadout" id="show-loadout-box" type="checkbox" checked=data.clShowloadout}}
      </div>
    </li>
    <li class="Category-item">
      <label for="speed-and-detailed-position-box">
        <i class="octicon octicon-info"></i>
        <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'clShowpos'}}></i>
        Speed and Detailed Position
      </label>
      <div class="Category-inputs">
        {{input class="Category-input Category-input--checkbox" data-command="cl_showpos" id="speed-and-detailed-position-box" type="checkbox" checked=data.clShowpos}}
      </div>
    </li>
    <li class="Category-item">
      <label for="show-fps-box">
        <i class="octicon octicon-info"></i>
        <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'clShowfps'}}></i>
        Show FPS
      </label>
      <div class="Category-inputs">
        <select class="Category-input Category-input--select" data-command="cl_showfps">
          {{#each showFpsOptions as |option|}}
            <option {{bind-attr value=option.id}}>{{option.optionName}}</option>
          {{/each}}
        </select>
      </div>
    </li>
    <li class="Category-item">
      <label for="net-graph-box">
        <i class="octicon octicon-info"></i>
        <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'netGraph'}}></i>
        Net Graph
      </label>
      <div class="Category-inputs">
        <select class="Category-input Category-input--select" data-command="net_graph">
          {{#each netGraphOptions as |option|}}
            <option {{bind-attr value=option.id}}>{{option.optionName}}</option>
          {{/each}}
        </select>
      </div>
    </li>
    <li class="Category-item">
      <label for="net-graph-proportional-font-box">
        <i class="octicon octicon-info"></i>
        <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'netGraphproportionalfont'}}></i>
        Net Graph Proportional Font
      </label>
      <div class="Category-inputs">
        {{input class="Category-input Category-input--checkbox" data-command="net_graphproportionalfont" id="net-graph-proportional-font-box" type="checkbox" checked=data.netGraphproportionalfont}}
      </div>
    </li>
  </ul>
</div>
