<div class="Category">
  <button class="Category-title {{if isOpen "Category-title--open"}}" {{action 'toggleDisplay'}}>
    <span class="octicon {{if isOpen "octicon-chevron-down" "octicon-chevron-right"}}"></span>
    <span class="Category-title-text">Keybind</span>
  </button>
  <ul class="Category-items {{if isOpen "Category-items--open"}}">
    <li class="Category-item">
      <div class="Category-description">
        <p>the following is a list of weapon and gear options you can use to bind to keys.</p>
        <p><strong>rifles</strong>: ssg08, galilar, famas, ssg550, aug, m4a1, ak47, g3sg1, scar20, awp</p>
        <p><strong>sub-machine guns</strong>: mac10, ump45, p90, bizon, mp7, mp9</p>
        <p><strong>heavy</strong>: xm1014, mag7, sawedoff, m249, negev</p>
        <p><strong>pistol</strong>: p228, glock, elite, tec9, hkp2000, p250</p>
        <p><strong>grenades &amp; gear</strong>: incgrenade, flashbang, smokegrenade, hegrenade, molotov, decoy, kevlar, vesthelm, taser, defuser</p>
      </div>
      <div class="Category-inputs">
        {{input class="Category-input Category-input--text" type="text" placeholder="click on a key below to bind its value" id="keyboard-input"}}
      </div>
      <div class="Keyboard">
        <div class="Keyboard-main">
          <div class="Keyboard-row">
            {{#keyboard-key class="Keyboard-key Keyboard-key--pr" modelVal=data.keyEsc onClick=(action "editValue")}}Esc{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyF1}}F1{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyF2}}F2{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyF3}}F3{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key Keyboard-key--pr" modelVal=data.keyF4}}F4{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyF5}}F5{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyF6}}F6{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyF7}}F7{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key Keyboard-key--pr" modelVal=data.keyF8}}F8{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyF9}}F9{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyF10}}F10{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyF11}}F11{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyF12}}F12{{/keyboard-key}}
          </div>
          <div class="Keyboard-row">
            {{#keyboard-key class="Keyboard-key Keyboard-key--disabled" disabled="disabled"}}`{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyK1}}1{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyK2}}2{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyK3}}3{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyK4}}4{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyK5}}5{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyK6}}6{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyK7}}7{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyK8}}8{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyK9}}9{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyK0}}0{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyHyphen}}-{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyEquals}}={{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key Keyboard-key--bs" modelVal=data.keyBackspace}}&#8592;{{/keyboard-key}}
          </div>
          <div class="Keyboard-row">
            {{#keyboard-key class="Keyboard-key Keyboard-key--tb" modelVal=data.keyTab}}Tab{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyQ}}q{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyW}}w{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyE}}e{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyR}}r{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyT}}t{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyY}}y{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyU}}u{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyI}}i{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyO}}o{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyP}}p{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyLbracket}}]{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyRbracket}}[{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key Keyboard-key--sb" modelVal=data.keyBkslash}}\\{{/keyboard-key}}
          </div>
          <div class="Keyboard-row">
            {{#keyboard-key class="Keyboard-key Keyboard-key--cp" modelVal=data.keyCapslock}}Caps{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyA}}a{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyS}}s{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyD}}d{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyF}}f{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyG}}g{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyH}}h{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyJ}}j{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyK}}k{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyL}}l{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keySemicolon}};{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyApostrophe}}&#39;{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key Keyboard-key--rt" modelVal=data.keyEnter}}&#8629;{{/keyboard-key}}
          </div>
          <div class="Keyboard-row">
            {{#keyboard-key class="Keyboard-key Keyboard-key--sft" modelVal=data.keyShift}}&#8679;{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyZ}}z{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyX}}x{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyC}}c{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyV}}v{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyB}}b{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyN}}n{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyM}}m{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyComma}},{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyPeriod}}.{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyFwslash}}/{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key Keyboard-key--sft" modelVal=data.keyShift}}&#8679;{{/keyboard-key}}
          </div>
          <div class="Keyboard-row">
            {{#keyboard-key class="Keyboard-key Keyboard-key--cl Keyboard-key--pr2" modelVal=data.keyCtrl}}Ctrl{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key Keyboard-key--at" modelVal=data.keyAlt}}Alt{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key Keyboard-key--sp" modelVal=data.keySpace}}Space{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key Keyboard-key--at Keyboard-key--pr3" modelVal=data.keyAlt}}Alt{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key Keyboard-key--cl" modelVal=data.keyCtrl}}Ctrl{{/keyboard-key}}
          </div>
        </div>
        <div class="Keyboard-arrows">
          <div class="Keyboard-row">
            {{#keyboard-key class="Keyboard-key Keyboard-key--hidden"}}{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key Keyboard-key--hidden"}}{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyPause}}Pause{{/keyboard-key}}
          </div>
          <div class="Keyboard-row">
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyIns}}Ins{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyHome}}Home{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyPgup}}PgUp{{/keyboard-key}}
          </div>
          <div class="Keyboard-row">
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyDel}}Del{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyEnd}}End{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyPgdn}}PgDn{{/keyboard-key}}
          </div>
          <div class="Keyboard-row">
            {{#keyboard-key class="Keyboard-key Keyboard-key--hidden"}}{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key Keyboard-key--hidden"}}{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key Keyboard-key--hidden"}}{{/keyboard-key}}
          </div>
          <div class="Keyboard-row">
            {{#keyboard-key class="Keyboard-key Keyboard-key--hidden"}}{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyUparrow}}&#8593;{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key Keyboard-key--hidden"}}{{/keyboard-key}}
          </div>
          <div class="Keyboard-row">
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyLeftarrow}}&#8592;{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyDownarrow}}&#8595;{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyRightarrow}}&#8594;{{/keyboard-key}}
          </div>
        </div>
        <div class="Keyboard-tenkey">
          <div class="Keyboard-row">
            {{#keyboard-key class="Keyboard-key Keyboard-key--hidden"}}{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key Keyboard-key--hidden"}}{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key Keyboard-key--hidden"}}{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key Keyboard-key--hidden"}}{{/keyboard-key}}
          </div>
          <div class="Keyboard-row">
            {{#keyboard-key class="Keyboard-key Keyboard-key--disabled" disabled="disabled"}}NumLk{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyKpSlash}}/{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyKpMultiply}}*{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyKpMinus}}-{{/keyboard-key}}
          </div>
          <div class="Keyboard-row">
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyKpHome}}7{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyKpUparrow}}8{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyKpPgup}}9{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key Keyboard-key--pl" modelVal=data.keyKpPlus}}+{{/keyboard-key}}
          </div>
          <div class="Keyboard-row">
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyKpLeftarrow}}4{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyKp5}}5{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyKpRightarrow}}6{{/keyboard-key}}
          </div>
          <div class="Keyboard-row">
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyKpEnd}}1{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyKpDownarrow}}2{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyKpPgdn}}3{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key Keyboard-key--ent" modelVal=data.keyKpEnter}}Enter{{/keyboard-key}}
          </div>
          <div class="Keyboard-row">
            {{#keyboard-key class="Keyboard-key Keyboard-key--zd" modelVal=data.keyKpIns}}0{{/keyboard-key}}
            {{#keyboard-key class="Keyboard-key" modelVal=data.keyKpDel}}.{{/keyboard-key}}
          </div>
        </div>
        <div class="Keyboard-mouse">
          <div class="Keyboard-row">
            {{#keyboard-key class="Keyboard-key Keyboard-key--lmb" modelVal=data.keyMouse1}}MB1{{/keyboard-key}}
            <div class="Keyboard-row Keyboard-row--mm">
              {{#keyboard-key class="Keyboard-key Keyboard-key--mmbu" modelVal=data.keyMwheelup}}&#8593;{{/keyboard-key}}
              {{#keyboard-key class="Keyboard-key Keyboard-key--mmbc" modelVal=data.keyMouse3}}MB3{{/keyboard-key}}
              {{#keyboard-key class="Keyboard-key Keyboard-key--mmbd" modelVal=data.keyMwheeldown}}&#8595;{{/keyboard-key}}
            </div>
            {{#keyboard-key class="Keyboard-key Keyboard-key--rmb" modelVal=data.keyMouse2}}MB2{{/keyboard-key}}
          </div>
          <div class="Keyboard-row">
            {{#keyboard-key class="Keyboard-key Keyboard-key--mb4" modelVal=data.keyMouse4}}MB4{{/keyboard-key}}
          </div>
          <div class="Keyboard-row">
            {{#keyboard-key class="Keyboard-key Keyboard-key--mb5" modelVal=data.keyMouse5}}MB5{{/keyboard-key}}
          </div>
          <div class="Keyboard-row">
            {{#keyboard-key class="Keyboard-key Keyboard-key--hidden"}}{{/keyboard-key}}
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
