<div class="Category">
  <h2 class="Category-title">Miscellaneous</h2>
  <div class="Category-input-container">
    <label for="filter-effect-slider">Filter Effect <i class="octicon octicon-info"></i> <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'conFilterEnable'}}></i></label>
    {{custom-select data=model.conFilterEnable options=filterEnableOptions dataCommand="con_filter_enable"}}
  </div>
  <div class="Category-input-container">
    <label for="filter-setting-1-text">Filter Setting 1 <i class="octicon octicon-info"></i> <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'conFilterText'}}></i></label>
    {{input data-command="con_filter_text" id="filter-setting-1-text" type="text" value=conFilterText}}
  </div>
  <div class="Category-input-container">
    <label for="filter-setting-2-text">Filter Setting 2 <i class="octicon octicon-info"></i> <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'conFilterTextOut'}}></i></label>
    {{input data-command="con_filter_text_out" id="filter-setting-2-text" type="text" value=conFilterTextOut}}
  </div>
  <div class="Category-input-container">
    <label for="max-ping-mm-servers-slider">Max Ping Allowed <i class="octicon octicon-info"></i> <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'mmDedicatedSearchMaxping'}}></i></label>
    {{input data-command="mm_dedicated_search_maxping" id="max-ping-mm-servers-slider" type="range" min="50" max="350" step="1" value=mmDedicatedSearchMaxping}}
    {{input type="number" min="50" max="350" step="1" value=mmDedicatedSearchMaxping}}
  </div>
  <div class="Category-input-container">
    <label for="steam-notification-position-text">Steam Notifications Position <i class="octicon octicon-info"></i> <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'uiSteamOverlayNotificationPosition'}}></i></label>
    {{custom-select data=model.uiSteamOverlayNotificationPosition options=notificationOptions dataCommand="ui_steam_overlay_notification_position"}}
  </div>
  <div class="Category-input-container">
    <label for="download-filter-select">Download Filter <i class="octicon octicon-info"></i> <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'clDownloadfilter'}}></i></label>
    {{custom-select data=model.clDownloadfilter options=downloadOptions dataCommand="cl_downloadfilter"}}
  </div>
  <div class="Category-input-container">
    <label for="developer-box">Developer <i class="octicon octicon-info"></i> <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'developer'}}></i></label>
    {{input data-command="developer" id="developer-box" type="checkbox" checked=developer}}
  </div>
  <div class="Category-input-container">
    <label for="enable-console-box">Enable Console <i class="octicon octicon-info"></i> <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'conEnable'}}></i></label>
    {{input data-command="con_enable" id="enable-console-box" type="checkbox" checked=conEnable}}
  </div>
  <div class="Category-input-container">
    <label for="community-message-box">Community Server Message <i class="octicon octicon-info"></i> <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'playerNevershowCommunityservermessage'}}></i></label>
    {{input data-command="player_nevershow_communityservermessage" id="community-message-box" type="checkbox" checked=playerNevershowCommunityservermessage}}
  </div>
  <div class="Category-input-container">
    <label for="game-instructor-box">Game Instructor <i class="octicon octicon-info"></i> <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'gameinstructorEnable'}}></i></label>
    {{input data-command="gameinstructor_enable" id="game-instructor-box" type="checkbox" checked=gameinstructorEnable}}
  </div>
  <div class="Category-input-container">
    <label for="option-duck-method-box">Option Duck Method <i class="octicon octicon-info"></i> <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'optionDuckMethod'}}></i></label>
    {{input data-command="option_duck_method" id="option-duck-method-box" type="checkbox" checked=optionDuckMethod}}
  </div>
  <div class="Category-input-container">
    <label for="option-speed-method-box">Option Speed Method <i class="octicon octicon-info"></i> <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'optionSpeedMethod'}}></i></label>
    {{input data-command="option_speed_method" id="option-speed-method-box" type="checkbox" checked=optionSpeedMethod}}
  </div>
  <div class="Category-input-container">
    <label for="force-preload-box">Force Preload <i class="octicon octicon-info"></i> <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'clForcepreload'}}></i></label>
    {{input data-command="cl_forcepreload" id="force-preload-box" type="checkbox" checked=clForcepreload}}
  </div>
  <div class="Category-input-container">
    <label for="disable-html-motd-box">Disable HTML MOTD <i class="octicon octicon-info"></i> <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'clDisablehtmlmotd'}}></i></label>
    {{input data-command="cl_disablehtmlmotd" id="disable-html-motd-box" type="checkbox" checked=clDisablehtmlmotd}}
  </div>
  <div class="Category-input-container">
    <label for="automatic-help-box">Automatic Help <i class="octicon octicon-info"></i> <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'clAutohelp'}}></i></label>
    {{input data-command="cl_autohelp" id="automatic-help-box" type="checkbox" checked=clAutohelp}}
  </div>
  <div class="Category-input-container">
    <label for="show-help-box">Show Help <i class="octicon octicon-info"></i> <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'clShowhelp'}}></i></label>
    {{input data-command="cl_showhelp" id="show-help-box" type="checkbox" checked=clShowhelp}}
  </div>
  <div class="Category-input-container">
    <label for="disable-freeze-cam-box">Disable Freeze Cam <i class="octicon octicon-info"></i> <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'clDisablefreezecam'}}></i></label>
    {{input data-command="cl_disablefreezecam" id="disable-freeze-cam-box" type="checkbox" checked=clDisablefreezecam}}
  </div>
  <div class="Category-input-container">
    <label for="show-teammate-colors-box">Show Teammate Colors <i class="octicon octicon-info"></i> <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'clTeammateColorsShow'}}></i></label>
    {{custom-select data=model.clTeammateColorsShow options=teammateColorsOptions dataCommand="cl_teammate_colors_show"}}
  </div>
  <div class="Category-input-container">
    <label for="auto-weapon-switch-box">Auto Weapon Switch <i class="octicon octicon-info"></i> <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'clAutowepswitch'}}></i></label>
    {{input data-command="cl_autowepswitch" id="auto-weapon-switch-box" type="checkbox" checked=clAutowepswitch}}
  </div>
  <div class="Category-input-container">
    <label for="use-opens-buy-menu-box">Use Opens Buy Menu <i class="octicon octicon-info"></i> <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'clUseOpensBuyMenu'}}></i></label>
    {{input data-command="cl_use_opens_buy_menu" id="use-opens-buy-menu-box" type="checkbox" checked=clUseOpensBuyMenu}}
  </div>
  <div class="Category-input-container">
    <label for="close-on-buy-box">Close on Buy <i class="octicon octicon-info"></i> <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'closeonbuy'}}></i></label>
    {{input data-command="closeonbuy" id="close-on-buy-box" type="checkbox" checked=closeonbuy}}
  </div>
</div>
