<div class="Category">
  <button class="Category-title {{if isOpen "Category-title--open"}}" {{action 'toggleDisplay'}}>
    <span class="octicon {{if isOpen "octicon-chevron-down" "octicon-chevron-right"}}"></span>
    <span class="Category-title-text">Mouse</span>
  </button>
  <ul class="Category-items {{if isOpen "Category-items--open"}}">
    <li class="Category-item">
      <label for="sensitivity-slider">
        <i class="octicon octicon-info"></i>
        <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'sensitivity'}}></i>
        Sensitivity
      </label>
      <div class="Category-inputs">
        {{input class="Category-input Category-input--range" data-command="sensitivity" id="sensitivity-slider" type="range" min="0" max="20" step="0.1" value=sensitivity}}
        {{input class="Category-input Category-input--number" type="number" min="0" max="20" step="0.1" value=sensitivity}}
      </div>
    </li>
    <li class="Category-item">
      <label for="zoom-sensitivity-slider">
        <i class="octicon octicon-info"></i>
        <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'zoomSensitivityRatioMouse'}}></i>
        Zoom Sensitivity
      </label>
      <div class="Category-inputs">
        {{input class="Category-input Category-input--range" data-command="zoom_sensitivity_ratio_mouse" id="zoom-sensitivity-slider" type="range" min="0" max="20" step="0.01" value=zoomSensitivityRatioMouse}}
        {{input class="Category-input Category-input--number" type="number" min="0" max="20" step="0.01" value=zoomSensitivityRatioMouse}}
      </div>
    </li>
    <li class="Category-item">
      <label for="mouse-acceleration-slider">
        <i class="octicon octicon-info"></i>
        <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'mCustomaccel'}}></i>
        Mouse Acceleration
      </label>
      <div class="Category-inputs">
        {{custom-select data=model.mCustomaccel options=customAccelOptions dataCommand="m_customaccel"}}
      </div>
    </li>
    <li class="Category-item">
      <label for="mouse-raw-input-box">
        <i class="octicon octicon-info"></i>
        <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'mRawinput'}}></i>
        Raw Input
      </label>
      <div class="Category-inputs">
        {{input class="Category-input Category-input--checkbox" data-command="m_rawinput" id="mouse-raw-input-box" type="checkbox" checked=mRawinput}}
      </div>
    </li>
  </ul>
</div>
