<div class="Category">
  <button class="Category-title {{if isOpen "Category-title--open"}}" {{action 'toggleDisplay'}}>
    <span class="octicon {{if isOpen "octicon-chevron-down" "octicon-chevron-right"}}"></span>
    <span class="Category-title-text">Rate</span>
  </button>
  <ul class="Category-items {{if isOpen "Category-items--open"}}">
    <li class="Category-item">
      <label class="Category-label">
        <span class="octicon octicon-info"></span>
        <span class="octicon octicon-sync" {{action 'setToDefaultValue' 'rate'}}></span>
        Rate
      </label>
      <div class="Category-inputs">
        {{input class="Category-input Category-input--range" data-command="rate" id="rate-slider" type="range" min="0" max="128000" value=data.rate}}
        {{input class="Category-input Category-input--number" type="number" min="0" max="128000" value=data.rate}}
      </div>
    </li>
    <li class="Category-item">
      <label class="Category-label">
        <span class="octicon octicon-info"></span>
        <span class="octicon octicon-sync" {{action 'setToDefaultValue' 'clCmdrate'}}></span>
        CMD Rate
      </label>
      <div class="Category-inputs">
        {{input class="Category-input Category-input--range" data-command="cl_cmdrate" id="cmd-rate-slider" type="range" min="10" max="128" value=data.clCmdrate}}
        {{input class="Category-input Category-input--number" type="number" min="10" max="128" value=data.clCmdrate}}
      </div>
    </li>
    <li class="Category-item">
      <label class="Category-label">
        <span class="octicon octicon-info"></span>
        <span class="octicon octicon-sync" {{action 'setToDefaultValue' 'clUpdaterate'}}></span>
        Update Rate
      </label>
      <div class="Category-inputs">
        {{input class="Category-input Category-input--range" data-command="cl_updaterate" id="update-rate-slider" type="range" min="10" max="128" value=data.clUpdaterate}}
        {{input class="Category-input Category-input--number" type="number" min="10" max="128" value=data.clUpdaterate}}
      </div>
    </li>
    <li class="Category-item">
      <label class="Category-label">
        <span class="octicon octicon-info"></span>
        <span class="octicon octicon-sync" {{action 'setToDefaultValue' 'clInterp'}}></span>
        Interp
      </label>
      <div class="Category-inputs">
        {{input class="Category-input Category-input--range" data-command="cl_interp" id="interp-slider" type="range" min="0.0" max="0.5" step="0.01" value=data.clInterp}}
        {{input class="Category-input Category-input--number" type="number" min="0.0" max="0.5" step="0.01" value=data.clInterp}}
      </div>
    </li>
    <li class="Category-item">
      <label class="Category-label">
        <span class="octicon octicon-info"></span>
        <span class="octicon octicon-sync" {{action 'setToDefaultValue' 'clInterpRatio'}}></span>
        Interp Ratio
      </label>
      <div class="Category-inputs">
        {{input class="Category-input Category-input--range" data-command="cl_interp_ratio" id="interp-ratio-slider" type="range" min="1.0" max="2.0" step="0.01" value=data.clInterpRatio}}
        {{input class="Category-input Category-input--number" type="number" min="1.0" max="2.0" step="0.01" value=data.clInterpRatio}}
      </div>
    </li>
    <li class="Category-item">
      <label class="Category-label">
        <span class="octicon octicon-info"></span>
        <span class="octicon octicon-sync" {{action 'setToDefaultValue' 'clLagcompensation'}}></span>
        Lag Compensation
      </label>
      <div class="Category-inputs">
        {{input class="Category-input Category-input--checkbox" data-command="cl_lagcompensation" id="lag-compensation-box" type="checkbox" checked=data.clLagcompensation}}
      </div>
    </li>
  </ul>
</div>
