<div class="Category">
  <button class="Category-title {{if isOpen "Category-title--open"}}" {{action 'toggleDisplay'}}>
    <span class="octicon {{if isOpen "octicon-chevron-down" "octicon-chevron-right"}}"></span>
    <span class="Category-title-text">Video</span>
  </button>
  <ul class="Category-items {{if isOpen "Category-items--open"}}">
    <li class="Category-item">
      <label for="monitor-gamma-slider">
        <i class="octicon octicon-info"></i>
        <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'matMonitorgamma'}}></i>
        Monitor Gamma
      </label>
      <div class="Category-inputs">
        {{input class="Category-input Category-input--range" data-command="mat_monitorgamma" id="monitor-gamma-slider" type="range" min="1.6" max="2.6" step="0.1" value=matMonitorgamma}}
        {{input class="Category-input Category-input--number" type="number" min="1.6" max="2.6" step="0.1" value=matMonitorgamma}}
      </div>
    </li>
    <li class="Category-item">
      <label for="video-processing-queue-mode-slider">
        <i class="octicon octicon-info"></i>
        <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'matQueueMode'}}></i>
        Video Processing Queue
      </label>
      <div class="Category-inputs">
        {{custom-select data=model.matQueueMode options=queueModeOptions dataCommand="mat_queue_mode"}}
      </div>
    </li>
    <li class="Category-item">
      <label for="max-fps-slider">
        <i class="octicon octicon-info"></i>
        <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'fpsMax'}}></i>
        Max FPS
      </label>
      <div class="Category-inputs">
        {{input class="Category-input Category-input--range" data-command="fps_max" id="max-fps-slider" type="range" min="0" max="999" step="1" value=fpsMax}}
        {{input class="Category-input Category-input--number" type="number" min="0" max="999" step="1" value=fpsMax}}
      </div>
    </li>
    <li class="Category-item">
      <label for="max-fps-menu-slider">
        <i class="octicon octicon-info"></i>
        <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'fpsMaxMenu'}}></i>
        Max FPS (In Menu)
      </label>
      <div class="Category-inputs">
        {{input class="Category-input Category-input--range" data-command="fps_max_menu" id="max-fps-menu-slider" type="range" min="0" max="999" step="1" value=fpsMaxMenu}}
        {{input class="Category-input Category-input--number" type="number" min="0" max="999" step="1" value=fpsMaxMenu}}
      </div>
    </li>
    <li class="Category-item">
      <label for="dynamic-shadows-box">
        <i class="octicon octicon-info"></i>
        <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'rDynamic'}}></i>
        Dynamic Shadows
      </label>
      <div class="Category-inputs">
        {{input class="Category-input Category-input--checkbox" data-command="r_dynamic" id="dynamic-shadows-box" type="checkbox" checked=rDynamic}}
      </div>
    </li>
    <li class="Category-item">
      <label for="draw-firstperson-tracers-box">
        <i class="octicon octicon-info"></i>
        <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'rDrawtracersFirstperson'}}></i>
        Draw Tracers in First Person
      </label>
      <div class="Category-inputs">
        {{input class="Category-input Category-input--checkbox" data-command="r_drawtracers_firstperson" id="draw-firstperson-tracers-box" type="checkbox" checked=rDrawtracersFirstperson}}
      </div>
    </li>
  </ul>
</div>
