<section>
  <h3>Crosshair</h3>
  <div class="crosshair-preview">
    <div class="crosshair-preview__inner">
      <div class="crosshair-image-select">
        <button class="btn octicon octicon-chevron-left" {{action prev}}></button>
        <button class="btn octicon octicon-chevron-right" {{action next}}></button>
      </div>
      <div class="crosshair-image"></div>
      {{crosshair-canvas data=model}}
      <p class="preview-note">Click the image to toggle interactive preview</p>
    </div>
  </div>
  <div class="settings" id="crosshair-settings">
    <div class="settings__inputs">
      <div class="settings__inputs-option">
        <label for="crosshair-style-select">Style <i class="octicon octicon-info"></i></label>
        {{custom-select data=model.clCrosshairstyle options=styleOptions dataCommand="cl_crosshairstyle"}}
      </div>
      <div class="settings__inputs-option">
        <label for="crosshair-color-r-slider">Red <i class="octicon octicon-info"></i></label>
        {{input data-command="cl_crosshaircolor_r" id="crosshair-color-r-slider" type="range" min="0" max="255" step="1" value=clCrosshaircolorR}}
        {{input type="number" min="0" max="255" step="1" value=clCrosshaircolorR}}
      </div>
      <div class="settings__inputs-option">
        <label for="crosshair-color-g-slider">Green <i class="octicon octicon-info"></i></label>
        {{input data-command="cl_crosshaircolor_g" id="crosshair-color-g-slider" type="range" min="0" max="255" step="1" value=clCrosshaircolorG}}
        {{input type="number" min="0" max="255" step="1" value=clCrosshaircolorG}}
      </div>
      <div class="settings__inputs-option">
        <label for="crosshair-color-b-slider">Blue <i class="octicon octicon-info"></i></label>
        {{input data-command="cl_crosshaircolor_b" id="crosshair-color-b-slider" type="range" min="0" max="255" step="1" value=clCrosshaircolorB}}
        {{input type="number" min="0" max="255" step="1" value=clCrosshaircolorB}}
      </div>
      <div class="settings__inputs-option">
        <label for="crosshair-alpha-slider">Alpha <i class="octicon octicon-info"></i></label>
        {{input data-command="cl_crosshairalpha" id="crosshair-alpha-slider" type="range" min="0" max="255" step="1" value=clCrosshairalpha}}
        {{input type="number" min="0" max="255" step="1" value=clCrosshairalpha}}
      </div>
      <div class="settings__inputs-option">
        <label for="crosshair-draw-outline-box">Draw Outline <i class="octicon octicon-info"></i></label>
        <div class="checkbox-slider">
          {{input data-command="cl_crosshair_drawoutline" id="crosshair-draw-outline-box" type="checkbox" checked=clCrosshairDrawoutline}}
          <label for="crosshair-draw-outline-box"></label>
        </div>
      </div>
      <div class="settings__inputs-option">
        <label for="crosshair-outline-thickness-slider">Outline Thickness <i class="octicon octicon-info"></i></label>
        {{input data-command="cl_crosshair_outlinethickness" id="crosshair-outline-thickness-slider" type="range" min="0" max="3" step="1" value=clCrosshairOutlinethickness}}
        {{input type="number" min="0" max="3.0" step="1" value=clCrosshairOutlinethickness}}
      </div>
      <div class="settings__inputs-option">
        <label for="crosshair-size-slider">Size <i class="octicon octicon-info"></i></label>
        {{input data-command="cl_crosshairsize" id="crosshair-size-slider" type="range" min="-1" max="200" step="0.5" value=clCrosshairsize}}
        {{input type="number" min="-1" max="200" step="0.5" value=clCrosshairsize}}
      </div>
      <div class="settings__inputs-option">
        <label for="crosshair-thickness-slider">Thickness <i class="octicon octicon-info"></i></label>
        {{input data-command="cl_crosshairthickness" id="crosshair-thickness-slider" type="range" min="0" max="200" step="0.5" value=clCrosshairthickness}}
        {{input type="number" min="0" max="200" step="0.5" value=clCrosshairthickness}}
      </div>
      <div class="settings__inputs-option">
        <label for="crosshair-gap-slider">Gap <i class="octicon octicon-info"></i></label>
        {{input data-command="cl_crosshairgap" id="crosshair-gap-slider" type="range" min="-100" max="100" step="1" value=clCrosshairgap}}
        {{input type="number" min="-100" max="100" step="1" value=clCrosshairgap}}
      </div>
      <div class="settings__inputs-option">
        <label for="crosshair-dot-box">Dot <i class="octicon octicon-info"></i></label>
        <div class="checkbox-slider">
          {{input data-command="cl_crosshairdot" id="crosshair-dot-box" type="checkbox" checked=clCrosshairdot}}
          <label for="crosshair-dot-box"></label>
        </div>
      </div>
    </div>
  </div>
</section>
