<section>
  <h3>HUD</h3>
  <div class="settings">
    <div class="settings__inputs">
      <div class="settings__inputs-option">
        <label for="hude-scale-slider">HUD Scale <i class="octicon octicon-info"></i></label>
        {{input data-command="hud_scaling" id="hud-scale-slider" type="range" min="0.5" max="0.95" step="0.01" value=hudScaling}}
        {{input type="number" min="0.5" max="0.95" step="0.01" value=hudScaling}}
      </div>
      <div class="settings__inputs-option">
        <label for="hud-background-alpha-slider">HUD Background Alpha <i class="octicon octicon-info"></i></label>
        {{input data-command="cl_hud_background_alpha" id="hud-background-alpha-slider" type="range" min="0.0" max="1.0" step="0.05" value=clHudBackgroundAlpha}}
        {{input type="number" min="0.0" max="1.0" step="0.05" value=clHudBackgroundAlpha}}
      </div>
      <div class="settings__inputs-option">
          <label for="hud-color-select">HUD Color <i class="octicon octicon-info"></i></label>
          {{custom-select data=model.clHudColor options=hudcolorOptions dataCommand="cl_hud_color"}}
      </div>
      <div class="settings__inputs-option settings__inputs-option--checkbox">
        <label for="color-wrapon-name-box">Color Weapon Name <i class="octicon octicon-info"></i></label>
        <div class="checkbox-slider">
          {{input data-command="cl_loadout_colorweaponnames" id="color-wrapon-name-box" type="checkbox" checked=clLoadoutColorweaponnames}}
          <label for="color-wrapon-name-box"></label>
        </div>
      </div>
      <div class="settings__inputs-option settings__inputs-option--checkbox">
        <label for="simple-healh-and-ammo-box">Simple Health and Ammo <i class="octicon octicon-info"></i></label>
        <div class="checkbox-slider">
          {{input data-command="cl_hud_healthammo_style" id="simple-healh-and-ammo-box" type="checkbox" checked=clHudHealthammoStyle}}
          <label for="simple-healh-and-ammo-box"></label>
        </div>
      </div>
      <div class="settings__inputs-option settings__inputs-option--checkbox">
        <label for="show-player-count-box">Show Player Count <i class="octicon octicon-info"></i></label>
        <div class="checkbox-slider">
          {{input data-command="cl_hud_playercount_showcount" id="show-player-count-box" type="checkbox" checked=clHudPlayercountShowcount}}
          <label for="show-player-count-box"></label>
        </div>
      </div>
      <div class="settings__inputs-option settings__inputs-option--checkbox">
        <label for="player-count-at-bottom-box">Player Count at Bottom <i class="octicon octicon-info"></i></label>
        <div class="checkbox-slider">
          {{input data-command="cl_hud_playercount_pos" id="player-count-at-bottom-box" type="checkbox" checked=clHudPlayercountPos}}
          <label for="player-count-at-bottom-box"></label>
        </div>
      </div>
      <div class="settings__inputs-option">
        <label for="FOV-slider">Field of View <i class="octicon octicon-info"></i></label>
        {{input data-command="viewmodel_fov" id="FOV-slider" type="range" min="54" max="68" step="1" value=viewmodelFov}}
        {{input type="number" min="54" max="68" step="1" value=viewmodelFov}}
      </div>
      <div class="settings__inputs-option">
        <label for="viewmodel-offset-x-slider">Viewmodel Offset X <i class="octicon octicon-info"></i></label>
        {{input data-command="viewmodel_offset_x" id="viewmodel-offset-x-slider" type="range" min="-2.0" max="2.5" step="0.1" value=viewmodelOffsetX}}
        {{input type="number" min="-2.0" max="2.5" step="0.1" value=viewmodelOffsetX}}
      </div>
      <div class="settings__inputs-option">
        <label for="viewmodel-offset-y-slider">Viewmodel Offset Y <i class="octicon octicon-info"></i></label>
        {{input data-command="viewmodel_offset_y" id="viewmodel-offset-y-slider" type="range" min="-2.0" max="2.5" step="0.1" value=viewmodelOffsetY}}
        {{input type="number" min="-2.0" max="2.5" step="0.1" value=viewmodelOffsetY}}
      </div>
      <div class="settings__inputs-option">
        <label for="viewmodel-offset-z-slider">Viewmodel Offset Z <i class="octicon octicon-info"></i></label>
        {{input data-command="viewmodel_offset_z" id="viewmodel-offset-z-slider" type="range" min="-2.0" max="2.5" step="0.1" value=viewmodelOffsetZ}}
        {{input type="number" min="-2.0" max="2.5" step="0.1" value=viewmodelOffsetZ}}
      </div>
      <div class="settings__inputs-option">
        <label for="viewmodel-presetpos-select">Preset Viewmodel <i class="octicon octicon-info"></i></label>
        {{custom-select data=model.viewmodelPresetpos options=viewmodelOptions dataCommand="viewmodel_presetpos"}}
      </div>
      <div class="settings__inputs-option">
        <label for="shooting-movement-left-slider">Shooting Movement Left <i class="octicon octicon-info"></i></label>
        {{input data-command="cl_viewmodel_shift_left_amt" id="shooting-movement-left-slider" type="range" min="0.5" max="2.0" step="0.05" value=clViewmodelShiftLeftAmt}}
        {{input type="number" min="0.5" max="2.0" step="0.05" value=clViewmodelShiftLeftAmt}}
      </div>
      <div class="settings__inputs-option">
        <label for="shooting-movement-right-slider">Shooting Movement Right <i class="octicon octicon-info"></i></label>
        {{input data-command="cl_viewmodel_shift_right_amt" id="shooting-movement-right-slider" type="range" min="0.25" max="2.0" step="0.05" value=clViewmodelShiftRightAmt}}
        {{input type="number" min="0.25" max="2.0" step="0.05" value=clViewmodelShiftRightAmt}}
      </div>
      <div class="settings__inputs-option">
        <label for="bobcycle-slider">Bobcycle <i class="octicon octicon-info"></i></label>
        {{input data-command="cl_bobcycle" id="bobcycle-slider" type="range" min="0.1" max="2.0" step="0.01" value=clBobcycle}}
        {{input type="number" min="0.1" max="2.0" step="0.01" value=clBobcycle}}
      </div>
      <div class="settings__inputs-option">
        <label for="bob-lower-limit-slider">Bob (Lower Limit) <i class="octicon octicon-info"></i></label>
        {{input data-command="cl_bob_lower_amt" id="bob-lower-limit-slider" type="range" min="5" max="30" step="1" value=clBobLowerAmt}}
        {{input type="number" min="5" max="30" step="1" value=clBobLowerAmt}}
      </div>
      <div class="settings__inputs-option">
        <label for="bob-lat-slider">Bob Lat <i class="octicon octicon-info"></i></label>
        {{input data-command="cl_bobamt_lat" id="bob-lat-slider" type="range" min="0.1" max="2.0" step="0.1" value=clBobamtLat}}
        {{input type="number" min="0.1" max="2.0" step="0.1" value=clBobamtLat}}
      </div>
      <div class="settings__inputs-option">
        <label for="bob-vertical-slider">Bob Vertical <i class="octicon octicon-info"></i></label>
        {{input data-command="cl_bobamt_vert" id="bob-vertical-slider" type="range" min="0.1" max="2.0" step="0.1" value=clBobamtVert}}
        {{input type="number" min="0.1" max="2.0" step="0.1" value=clBobamtVert}}
      </div>
      <div class="settings__inputs-option settings__inputs-option--checkbox">
        <label for="show-target-id-box">Show Target ID <i class="octicon octicon-info"></i></label>
        <div class="checkbox-slider">
          {{input data-command="hud_showtargetid" id="show-target-id-box" type="checkbox" checked=hudShowtargetid}}
          <label for="show-target-id-box"></label>
        </div>
      </div>
      <div class="settings__inputs-option settings__inputs-option--checkbox">
        <label for="draw-only-deathnotices-box">Draw Only Deathnotices <i class="octicon octicon-info"></i></label>
        <div class="checkbox-slider">
          {{input data-command="cl_draw_only_deathnotices" id="draw-only-deathnotices-box" type="checkbox" checked=clDrawOnlyDeathnotices}}
          <label for="draw-only-deathnotices-box"></label>
        </div>
      </div>
      <div class="settings__inputs-option settings__inputs-option--checkbox">
        <label for="right-handed-box">Right Handed <i class="octicon octicon-info"></i></label>
        <div class="checkbox-slider">
          {{input data-command="cl_righthand" id="right-handed-box" type="checkbox" checked=clRighthand}}
          <label for="right-handed-box"></label>
        </div>
      </div>
      <div class="settings__inputs-option settings__inputs-option--checkbox">
        <label for="show-loadout-box">Show Loadout <i class="octicon octicon-info"></i></label>
        <div class="checkbox-slider">
          {{input data-command="cl_showloadout" id="show-loadout-box" type="checkbox" checked=clShowloadout}}
          <label for="show-loadout-box"></label>
        </div>
      </div>
      <div class="settings__inputs-option settings__inputs-option--checkbox">
        <label for="speed-and-detailed-position-box">Speed and Detailed Position <i class="octicon octicon-info"></i></label>
        <div class="checkbox-slider">
          {{input data-command="cl_showpos" id="speed-and-detailed-position-box" type="checkbox" checked=clShowpos}}
          <label for="speed-and-detailed-position-box"></label>
        </div>
      </div>
      <div class="settings__inputs-option">
        <label for="show-fps-box">Show FPS <i class="octicon octicon-info"></i></label>
        {{custom-select data=model.clShowfps options=showFpsOptions dataCommand="cl_showfps"}}
      </div>
      <div class="settings__inputs-option">
        <label for="net-graph-box">Net Graph <i class="octicon octicon-info"></i></label>
        {{custom-select data=model.netGraph options=netGraphOptions dataCommand="net_graph"}}
      </div>
      <div class="settings__inputs-option settings__inputs-option--checkbox">
        <label for="net-graph-proportional-font-box">Net Graph Proportional Font <i class="octicon octicon-info"></i></label>
        <div class="checkbox-slider">
          {{input data-command="net_graphproportionalfont" id="net-graph-proportional-font-box" type="checkbox" checked=netGraphproportionalfont}}
          <label for="net-graph-proportional-font-box"></label>
        </div>
      </div>
    </div>
  </div>
</section>
