<section>
  <h3>Key Binds</h3>
  <div class="keyboard">
    <div class="keyboard__inner">
      <div class="keyboard--main">
        <div class="keyboard__row">
          <button type="button" {{action 'openModal' 'keyEscape' keyEscape model}} {{bind-attr class="keyEscape:has-bind :keyboard__key :keyboard__key--pr"}}>Esc</button>
          <button type="button" {{action 'openModal' 'keyF1' keyF1 model}} {{bind-attr class="keyF1:has-bind :keyboard__key"}}>F1</button>
          <button type="button" {{action 'openModal' 'keyF2' keyF2 model}} {{bind-attr class="keyF2:has-bind :keyboard__key"}}>F2</button>
          <button type="button" {{action 'openModal' 'keyF3' keyF3 model}} {{bind-attr class="keyF3:has-bind :keyboard__key"}}>F3</button>
          <button type="button" {{action 'openModal' 'keyF4' keyF4 model}} {{bind-attr class="keyF4:has-bind :keyboard__key :keyboard__key--pr"}}>F4</button>
          <button type="button" {{action 'openModal' 'keyF5' keyF5 model}} {{bind-attr class="keyF5:has-bind :keyboard__key"}}>F5</button>
          <button type="button" {{action 'openModal' 'keyF6' keyF6 model}} {{bind-attr class="keyF6:has-bind :keyboard__key"}}>F6</button>
          <button type="button" {{action 'openModal' 'keyF7' keyF7 model}} {{bind-attr class="keyF7:has-bind :keyboard__key"}}>F7</button>
          <button type="button" {{action 'openModal' 'keyF8' keyF8 model}} {{bind-attr class="keyF8:has-bind :keyboard__key :keyboard__key--pr"}}>F8</button>
          <button type="button" {{action 'openModal' 'keyF9' keyF9 model}} {{bind-attr class="keyF9:has-bind :keyboard__key"}}>F9</button>
          <button type="button" {{action 'openModal' 'keyF10' keyF10 model}} {{bind-attr class="keyF10:has-bind :keyboard__key"}}>F10</button>
          <button type="button" {{action 'openModal' 'keyF11' keyF11 model}} {{bind-attr class="keyF11:has-bind :keyboard__key"}}>F11</button>
          <button type="button" {{action 'openModal' 'keyF12' keyF12 model}} {{bind-attr class="keyF12:has-bind :keyboard__key"}}>F12</button>
        </div>
        <div class="keyboard__row">
          <button type="button" class="keyboard__key" disabled="disabled">`</button>
          <button type="button" {{action 'openModal' 'keyK1' keyK1 model}} {{bind-attr class="keyK1:has-bind :keyboard__key"}}>1</button>
          <button type="button" {{action 'openModal' 'keyK2' keyK2 model}} {{bind-attr class="keyK2:has-bind :keyboard__key"}}>2</button>
          <button type="button" {{action 'openModal' 'keyK3' keyK3 model}} {{bind-attr class="keyK3:has-bind :keyboard__key"}}>3</button>
          <button type="button" {{action 'openModal' 'keyK4' keyK4 model}} {{bind-attr class="keyK4:has-bind :keyboard__key"}}>4</button>
          <button type="button" {{action 'openModal' 'keyK5' keyK5 model}} {{bind-attr class="keyK5:has-bind :keyboard__key"}}>5</button>
          <button type="button" {{action 'openModal' 'keyK6' keyK6 model}} {{bind-attr class="keyK6:has-bind :keyboard__key"}}>6</button>
          <button type="button" {{action 'openModal' 'keyK7' keyK7 model}} {{bind-attr class="keyK7:has-bind :keyboard__key"}}>7</button>
          <button type="button" {{action 'openModal' 'keyK8' keyK8 model}} {{bind-attr class="keyK8:has-bind :keyboard__key"}}>8</button>
          <button type="button" {{action 'openModal' 'keyK9' keyK9 model}} {{bind-attr class="keyK9:has-bind :keyboard__key"}}>9</button>
          <button type="button" {{action 'openModal' 'keyK0' keyK0 model}} {{bind-attr class="keyK0:has-bind :keyboard__key"}}>0</button>
          <button type="button" {{action 'openModal' 'keyHyphen' keyHyphen model}} {{bind-attr class="keyHyphen:has-bind :keyboard__key"}}>-</button>
          <button type="button" {{action 'openModal' 'keyEquals' keyEquals model}} {{bind-attr class="keyEquals:has-bind :keyboard__key"}}>=</button>
          <button type="button" {{action 'openModal' 'keyBackspace' keyBackspace model}} {{bind-attr class="keyBackspace:has-bind :keyboard__key :keyboard__key--bs"}}>&#8592;</button>
        </div>
        <div class="keyboard__row">
          <button type="button" {{action 'openModal' 'keyTab' keyTab model}} {{bind-attr class="keyTab:has-bind :keyboard__key :keyboard__key--tb"}}>Tab</button>
          <button type="button" {{action 'openModal' 'keyQ' keyQ model}} {{bind-attr class="keyQ:has-bind :keyboard__key"}}>q</button>
          <button type="button" {{action 'openModal' 'keyW' keyW model}} {{bind-attr class="keyW:has-bind :keyboard__key"}}>w</button>
          <button type="button" {{action 'openModal' 'keyE' keyE model}} {{bind-attr class="keyE:has-bind :keyboard__key"}}>e</button>
          <button type="button" {{action 'openModal' 'keyR' keyR model}} {{bind-attr class="keyR:has-bind :keyboard__key"}}>r</button>
          <button type="button" {{action 'openModal' 'keyT' keyT model}} {{bind-attr class="keyT:has-bind :keyboard__key"}}>t</button>
          <button type="button" {{action 'openModal' 'keyY' keyY model}} {{bind-attr class="keyY:has-bind :keyboard__key"}}>y</button>
          <button type="button" {{action 'openModal' 'keyU' keyU model}} {{bind-attr class="keyU:has-bind :keyboard__key"}}>u</button>
          <button type="button" {{action 'openModal' 'keyI' keyI model}} {{bind-attr class="keyI:has-bind :keyboard__key"}}>i</button>
          <button type="button" {{action 'openModal' 'keyO' keyO model}} {{bind-attr class="keyO:has-bind :keyboard__key"}}>o</button>
          <button type="button" {{action 'openModal' 'keyP' keyP model}} {{bind-attr class="keyP:has-bind :keyboard__key"}}>p</button>
          <button type="button" {{action 'openModal' 'keyLbracket' keyLbracket model}} {{bind-attr class="keyLbracket:has-bind :keyboard__key"}}>[</button>
          <button type="button" {{action 'openModal' 'keyRbracket' keyRbracket model}} {{bind-attr class="keyRbracket:has-bind :keyboard__key"}}>]</button>
          <button type="button" {{action 'openModal' 'keyBkslash' keyBkslash model}} {{bind-attr class="keyBkslash:has-bind :keyboard__key :keyboard__key--sb"}}>\</button>
        </div>
        <div class="keyboard__row">
          <button type="button" {{action 'openModal' 'keyCapslock' keyCapslock model}} {{bind-attr class="keyCapslock:has-bind :keyboard__key :keyboard__key--cp"}}>Caps</button>
          <button type="button" {{action 'openModal' 'keyA' keyA model}} {{bind-attr class="keyA:has-bind :keyboard__key"}}>a</button>
          <button type="button" {{action 'openModal' 'keyS' keyS model}} {{bind-attr class="keyS:has-bind :keyboard__key"}}>s</button>
          <button type="button" {{action 'openModal' 'keyD' keyD model}} {{bind-attr class="keyD:has-bind :keyboard__key"}}>d</button>
          <button type="button" {{action 'openModal' 'keyF' keyF model}} {{bind-attr class="keyF:has-bind :keyboard__key"}}>f</button>
          <button type="button" {{action 'openModal' 'keyG' keyG model}} {{bind-attr class="keyG:has-bind :keyboard__key"}}>g</button>
          <button type="button" {{action 'openModal' 'keyH' keyH model}} {{bind-attr class="keyH:has-bind :keyboard__key"}}>h</button>
          <button type="button" {{action 'openModal' 'keyJ' keyJ model}} {{bind-attr class="keyJ:has-bind :keyboard__key"}}>j</button>
          <button type="button" {{action 'openModal' 'keyK' keyK model}} {{bind-attr class="keyK:has-bind :keyboard__key"}}>k</button>
          <button type="button" {{action 'openModal' 'keyL' keyL model}} {{bind-attr class="keyL:has-bind :keyboard__key"}}>l</button>
          <button type="button" {{action 'openModal' 'keySemicolon' keySemicolon model}} {{bind-attr class="keySemicolon:has-bind :keyboard__key"}}>;</button>
          <button type="button" {{action 'openModal' 'keyApostrophe' keyApostrophe model}} {{bind-attr class="keyApostrophe:has-bind :keyboard__key"}}>&#39;</button>
          <button type="button" {{action 'openModal' 'keyEnter' keyEnter model}} {{bind-attr class="keyEnter:has-bind :keyboard__key :keyboard__key--rt"}}>&#8629;</button>
        </div>
        <div class="keyboard__row">
          <button type="button" {{action 'openModal' 'keyShift' keyShift model}} {{bind-attr class="keyShift:has-bind :keyboard__key :keyboard__key--sft"}}>&#8679;</button>
          <button type="button" {{action 'openModal' 'keyZ' keyZ model}} {{bind-attr class="keyZ:has-bind :keyboard__key"}}>z</button>
          <button type="button" {{action 'openModal' 'keyX' keyX model}} {{bind-attr class="keyX:has-bind :keyboard__key"}}>x</button>
          <button type="button" {{action 'openModal' 'keyC' keyC model}} {{bind-attr class="keyC:has-bind :keyboard__key"}}>c</button>
          <button type="button" {{action 'openModal' 'keyV' keyV model}} {{bind-attr class="keyV:has-bind :keyboard__key"}}>v</button>
          <button type="button" {{action 'openModal' 'keyB' keyB model}} {{bind-attr class="keyB:has-bind :keyboard__key"}}>b</button>
          <button type="button" {{action 'openModal' 'keyN' keyN model}} {{bind-attr class="keyN:has-bind :keyboard__key"}}>n</button>
          <button type="button" {{action 'openModal' 'keyM' keyM model}} {{bind-attr class="keyM:has-bind :keyboard__key"}}>m</button>
          <button type="button" {{action 'openModal' 'keyComma' keyComma model}} {{bind-attr class="keyComma:has-bind :keyboard__key"}}>,</button>
          <button type="button" {{action 'openModal' 'keyPeriod' keyPeriod model}} {{bind-attr class="keyPeriod:has-bind :keyboard__key"}}>.</button>
          <button type="button" {{action 'openModal' 'keyFwslash' keyFwslash model}} {{bind-attr class="keyFwslash:has-bind :keyboard__key"}}>/</button>
          <button type="button" {{action 'openModal' 'keyShift' keyShift model}} {{bind-attr class="keyShift:has-bind :keyboard__key :keyboard__key--sft"}}>&#8679;</button>
        </div>
        <div class="keyboard__row">
          <button type="button" {{action 'openModal' 'keyCtrl' keyCtrl model}} {{bind-attr class="keyCtrl:has-bind :keyboard__key :keyboard__key--cl :keyboard__key--pr2"}}>Ctrl</button>
          <button type="button" {{action 'openModal' 'keyAlt' keyAlt model}} {{bind-attr class="keyAlt:has-bind :keyboard__key :keyboard__key--at"}}>Alt</button>
          <button type="button" {{action 'openModal' 'keySpace' keySpace model}} {{bind-attr class="keySpace:has-bind :keyboard__key :keyboard__key--sp"}}>Space</button>
          <button type="button" {{action 'openModal' 'keyAlt' keyAlt model}} {{bind-attr class="keyAlt:has-bind :keyboard__key :keyboard__key--at :keyboard__key--pr3"}}>Alt</button>
          <button type="button" {{action 'openModal' 'keyCtrl' keyCtrl model}} {{bind-attr class="keyCtrl:has-bind :keyboard__key :keyboard__key--cl"}}>Ctrl</button>
        </div>
      </div>
      <div class="keyboard--arrows">
        <div class="keyboard__row">
          <button type="button" class="keyboard__key keyboard__key--hidden"></button>
          <button type="button" class="keyboard__key keyboard__key--hidden"></button>
          <button type="button" {{action 'openModal' 'keyPause' keyPause model}} {{bind-attr class="keyPause:has-bind :keyboard__key"}}>Pause</button>
        </div>
        <div class="keyboard__row">
          <button type="button" {{action 'openModal' 'keyIns' keyIns model}} {{bind-attr class="keyIns:has-bind :keyboard__key"}}>Ins</button>
          <button type="button" {{action 'openModal' 'keyHome' keyHome model}} {{bind-attr class="keyHome:has-bind :keyboard__key"}}>Home</button>
          <button type="button" {{action 'openModal' 'keyPgup' keyPgup model}} {{bind-attr class="keyPgup:has-bind :keyboard__key"}}>PgUp</button>
        </div>
        <div class="keyboard__row">
          <button type="button" {{action 'openModal' 'keyDel' keyDel model}} {{bind-attr class="keyDel:has-bind :keyboard__key"}}>Del</button>
          <button type="button" {{action 'openModal' 'keyEnd' keyEnd model}} {{bind-attr class="keyEnd:has-bind :keyboard__key"}}>End</button>
          <button type="button" {{action 'openModal' 'keyPgdn' keyPgdn model}} {{bind-attr class="keyPgdn:has-bind :keyboard__key"}}>PgDn</button>
        </div>
        <div class="keyboard__row">
          <button type="button" class="keyboard__key keyboard__key--hidden"></button>
          <button type="button" class="keyboard__key keyboard__key--hidden"></button>
          <button type="button" class="keyboard__key keyboard__key--hidden"></button>
        </div>
        <div class="keyboard__row">
          <button type="button" class="keyboard__key keyboard__key--hidden"></button>
          <button type="button" {{action 'openModal' 'keyUparrow' keyUparrow model}} {{bind-attr class="keyUparrow:has-bind :keyboard__key"}}>&#8593;</button>
          <button type="button" class="keyboard__key keyboard__key--hidden"></button>
        </div>
        <div class="keyboard__row">
          <button type="button" {{action 'openModal' 'keyLeftarrow' keyLeftarrow model}} {{bind-attr class="keyLeftarrow:has-bind :keyboard__key"}}>&#8592;</button>
          <button type="button" {{action 'openModal' 'keyDownarrow' keyDownarrow model}} {{bind-attr class="keyDownarrow:has-bind :keyboard__key"}}>&#8595;</button>
          <button type="button" {{action 'openModal' 'keyRightarrow' keyRightarrow model}} {{bind-attr class="keyRightarrow:has-bind :keyboard__key"}}>&#8594;</button>
        </div>
      </div>
      <div class="keyboard--tenkey">
        <div class="keyboard__row">
          <button type="button" class="keyboard__key keyboard__key--hidden"></button>
          <button type="button" class="keyboard__key keyboard__key--hidden"></button>
          <button type="button" class="keyboard__key keyboard__key--hidden"></button>
          <button type="button" class="keyboard__key keyboard__key--hidden"></button>
        </div>
        <div class="keyboard__row">
          <button type="button" class="keyboard__key" disabled="disabled">Num Lock</button>
          <button type="button" {{action 'openModal' 'keyKpSlash' keyKpSlash model}} {{bind-attr class="keyKpSlash:has-bind :keyboard__key"}}>/</button>
          <button type="button" {{action 'openModal' 'keyKpMultiply' keyKpMultiply model}} {{bind-attr class="keyKpMultiply:has-bind :keyboard__key"}}>*</button>
          <button type="button" {{action 'openModal' 'keyKpMinus' keyKpMinus model}} {{bind-attr class="keyKpMinus:has-bind :keyboard__key"}}>-</button>
        </div>
        <div class="keyboard__row">
          <button type="button" {{action 'openModal' 'keyKpHome' keyKpHome model}} {{bind-attr class="keyKpHome:has-bind :keyboard__key"}}>7</button>
          <button type="button" {{action 'openModal' 'keyKpUparrow' keyKpUparrow model}} {{bind-attr class="keyKpUparrow:has-bind :keyboard__key"}}>8</button>
          <button type="button" {{action 'openModal' 'keyKpPgup' keyKpPgup model}} {{bind-attr class="keyKpPgup:has-bind :keyboard__key"}}>9</button>
          <button type="button" {{action 'openModal' 'keyKpPlus' keyKpPlus model}} {{bind-attr class="keyKpPlus:has-bind :keyboard__key :keyboard__key--pl"}}>+</button>
        </div>
        <div class="keyboard__row">
          <button type="button" {{action 'openModal' 'keyKpLeftarrow' keyKpLeftarrow model}} {{bind-attr class="keyKpLeftarrow:has-bind :keyboard__key"}}>4</button>
          <button type="button" {{action 'openModal' 'keyKp5' keyKp5 model}} {{bind-attr class="keyKp5:has-bind :keyboard__key"}}>5</button>
          <button type="button" {{action 'openModal' 'keyKpRightarrow' keyKpRightarrow model}} {{bind-attr class="keyKpRightarrow:has-bind :keyboard__key"}}>6</button>
        </div>
        <div class="keyboard__row">
          <button type="button" {{action 'openModal' 'keyKpEnd' keyKpEnd model}} {{bind-attr class="keyKpEnd:has-bind :keyboard__key"}}>1</button>
          <button type="button" {{action 'openModal' 'keyKpDownarrow' keyKpDownarrow model}} {{bind-attr class="keyKpDownarrow:has-bind :keyboard__key"}}>2</button>
          <button type="button" {{action 'openModal' 'keyKpPgdn' keyKpPgdn model}} {{bind-attr class="keyKpPgdn:has-bind :keyboard__key"}}>3</button>
          <button type="button" {{action 'openModal' 'keyKpEnter' keyKpEnter model}} {{bind-attr class="keyKpEnter:has-bind :keyboard__key :keyboard__key--ent"}}>Enter</button>
        </div>
        <div class="keyboard__row">
          <button type="button" {{action 'openModal' 'keyKpIns' keyKpIns model}} {{bind-attr class="keyKpIns:has-bind :keyboard__key :keyboard__key--zd"}}>0</button>
          <button type="button" {{action 'openModal' 'keyKpDel' keyKpDel model}} {{bind-attr class="keyKpDel:has-bind :keyboard__key"}}>.</button>
        </div>
      </div>
      <div class="keyboard--mouse">
        <div class="keyboard__row">
          <button type="button" {{action 'openModal' 'keyMouse1' keyMouse1 model}} {{bind-attr class="keyMouse1:has-bind :keyboard__key :keyboard__key--lmb"}}>MB1</button>
          <div class="keyboard__row--middle-mouse">
            <button type="button" {{action 'openModal' 'keyMwheelup' keyMwheelup model}} {{bind-attr class="keyMwheelup:has-bind :keyboard__key :keyboard__key--mmbu"}}>&#8593;</button>
            <button type="button" {{action 'openModal' 'keyMouse3' keyMouse3 model}} {{bind-attr class="keyMouse3:has-bind :keyboard__key :keyboard__key--mmbc"}}>MB3</button>
            <button type="button" {{action 'openModal' 'keyMwheeldown' keyMwheeldown model}} {{bind-attr class="keyMwheeldown:has-bind :keyboard__key :keyboard__key--mmbd"}}>&#8595;</button>
          </div>
          <button type="button" {{action 'openModal' 'keyMouse2' keyMouse2 model}} {{bind-attr class="keyMouse2:has-bind :keyboard__key :keyboard__key--rmb"}}>MB2</button>
        </div>
        <div class="keyboard__row">
          <button type="button" {{action 'openModal' 'keyMouse4' keyMouse4 model}} {{bind-attr class="keyMouse4:has-bind :keyboard__key :keyboard__key--mb4"}}>MB4</button>
        </div>
        <div class="keyboard__row">
          <button type="button" {{action 'openModal' 'keyMouse5' keyMouse5 model}} {{bind-attr class="keyMouse5:has-bind :keyboard__key :keyboard__key--mb5"}}>MB5</button>
        </div>
        <div class="keyboard__row">
          <button type="button" class="keyboard__key keyboard__key--hidden"></button>
        </div>
      </div>
    </div>
  </div>
</section>
{{outlet modal}}
