<section>
  <h3>Video</h3>
  <div class="settings">
    <div class="settings__inputs">
      <div class="settings__inputs-option">
        <label for="monitor-gamma-slider">Monitor Gamma <i class="octicon octicon-info"></i> <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'matMonitorgamma'}}></i></label>
        {{input data-command="mat_monitorgamma" id="monitor-gamma-slider" type="range" min="1.6" max="2.6" step="0.1" value=matMonitorgamma}}
        {{input type="number" min="1.6" max="2.6" step="0.1" value=matMonitorgamma}}
      </div>
      <div class="settings__inputs-option">
        <label for="video-processing-queue-mode-slider">Video Processing Queue <i class="octicon octicon-info"></i> <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'matQueueMode'}}></i></label>
        {{custom-select data=model.matQueueMode options=queueModeOptions dataCommand="mat_queue_mode"}}
      </div>
      <div class="settings__inputs-option">
        <label for="max-fps-slider">Max FPS <i class="octicon octicon-info"></i> <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'fpsMax'}}></i></label>
        {{input data-command="fps_max" id="max-fps-slider" type="range" min="0" max="999" step="1" value=fpsMax}}
        {{input type="number" min="0" max="999" step="1" value=fpsMax}}
      </div>
      <div class="settings__inputs-option">
        <label for="max-fps-menu-slider">Max FPS (In Menu) <i class="octicon octicon-info"></i> <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'fpsMaxMenu'}}></i></label>
        {{input data-command="fps_max_menu" id="max-fps-menu-slider" type="range" min="0" max="999" step="1" value=fpsMaxMenu}}
        {{input type="number" min="0" max="999" step="1" value=fpsMaxMenu}}
      </div>
      <div class="settings__inputs-option settings__inputs-option--checkbox">
        <label for="dynamic-shadows-box">Dynamic Shadows <i class="octicon octicon-info"></i> <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'rDynamic'}}></i></label>
        <div class="checkbox-slider">
          {{input data-command="r_dynamic" id="dynamic-shadows-box" type="checkbox" checked=rDynamic}}
          <label for="dynamic-shadows-box"></label>
        </div>
      </div>
      <div class="settings__inputs-option settings__inputs-option--checkbox">
        <label for="draw-firstperson-tracers-box">Draw Tracers in First Person <i class="octicon octicon-info"></i> <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'rDrawtracersFirstperson'}}></i></label>
        <div class="checkbox-slider">
          {{input data-command="r_drawtracers_firstperson" id="draw-firstperson-tracers-box" type="checkbox" checked=rDrawtracersFirstperson}}
          <label for="draw-firstperson-tracers-box"></label>
        </div>
      </div>
    </div>
  </div>
</section>
