<section>
  <h3>Audio</h3>
  <div class="settings">
    <div class="settings__inputs">
      <div class="settings__inputs-option">
        <label for="volume-slider">Volume <i class="octicon octicon-info"></i> <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'volume'}}></i></label>
        {{input data-command="volume" id="volume-slider" type="range" min="0.0" max="1.0" step="0.01" value=volume}}
        {{input type="number" min="0.0" max="1.0" step="0.01" value=volume}}
      </div>
      <div class="settings__inputs-option">
        <label for="music-volume-slider">Music Volume <i class="octicon octicon-info"></i> <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'sndMusicvolume'}}></i></label>
        {{input data-command="snd_musicvolume" id="music-volume-slider" type="range" min="0.0" max="1.0" step="0.01" value=sndMusicvolume}}
        {{input type="number" min="0.0" max="1.0" step="0.01" value=sndMusicvolume}}
      </div>
      <div class="settings__inputs-option">
        <label for="speaker-config-select">Speaker Config <i class="octicon octicon-info"></i> <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'windowsSpeakerConfig'}}></i></label>
        {{custom-select data=model.windowsSpeakerConfig options=speakerOptions dataCommand="windows_speaker_config"}}
      </div>
      <div class="settings__inputs-option">
        <label for="mix-ahead-slider">Mix Ahead <i class="octicon octicon-info"></i> <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'sndMixahead'}}></i></label>
        {{input data-command="snd_mixahead" id="mix-ahead-slider" type="range" min="0.0" max="1.0" step="0.05" value=sndMixahead}}
        {{input type="number" min="0.0" max="1.0" step="0.05" value=sndMixahead}}
      </div>
      <div class="settings__inputs-option">
        <label for="headphone-pan-exponent-slider">Pan Exponent <i class="octicon octicon-info"></i> <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'sndHeadphonePanExponent'}}></i></label>
        {{input data-command="snd_headphone_pan_exponent" id="headphone-pan-exponent-slider" type="range" min="0" max="100" step="1" value=sndHeadphonePanExponent}}
        {{input type="number" min="0" max="100" step="1" value=sndHeadphonePanExponent}}
      </div>
      <div class="settings__inputs-option">
        <label for="headphone-pan-radial-weight-slider">Pan Radial Weight <i class="octicon octicon-info"></i> <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'sndHeadphonePanRadialWeight'}}></i></label>
        {{input data-command="snd_headphone_pan_radial_weight" id="headphone-pan-radial-weight-slider" type="range" min="0" max="100" step="1" value=sndHeadphonePanRadialWeight}}
        {{input type="number" min="0" max="100" step="1" value=sndHeadphonePanRadialWeight}}
      </div>
      <div class="settings__inputs-option settings__inputs-option--checkbox">
        <label for="legacy-surround-box">Legacy Surround <i class="octicon octicon-info"></i> <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'sndLegacySurround'}}></i></label>
        <div class="checkbox-slider">
          {{input data-command="snd_legacy_surround" id="legacy-surround-box" type="checkbox" checked=sndLegacySurround}}
          <label for="legacy-surround-box"></label>
        </div>
      </div>
      <div class="settings__inputs-option settings__inputs-option--checkbox">
        <label for="sound-in-background-box">Mute Lose Focus <i class="octicon octicon-info"></i> <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'sndMuteLosefocus'}}></i></label>
        <div class="checkbox-slider">
          {{input data-command="snd_mute_losefocus" id="sound-in-background-box" type="checkbox" checked=sndMuteLosefocus}}
          <label for="sound-in-background-box"></label>
        </div>
      </div>
      <div class="settings__inputs-option">
        <label for="voice-scale-slider">Voice Scale <i class="octicon octicon-info"></i> <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'voiceScale'}}></i></label>
        {{input data-command="voice_scale" id="voice-scale-slider" type="range" min="0.0" max="1.0" step="0.05" value=voiceScale}}
        {{input type="number" min="0.0" max="1.0" step="0.05" value=voiceScale}}
      </div>
      <div class="settings__inputs-option settings__inputs-option--checkbox">
        <label for="voice-enable-box">Voice Enable <i class="octicon octicon-info"></i> <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'voiceEnable'}}></i></label>
        <div class="checkbox-slider">
          {{input data-command="voice_enable" id="voice-enable-box" type="checkbox" checked=voiceEnable}}
          <label for="voice-enable-box"></label>
        </div>
      </div>
      <div class="settings__inputs-option settings__inputs-option--checkbox">
        <label for="voice-chat-in-lobby-box">Lobby Voice Chat <i class="octicon octicon-info"></i> <i class="reset-value octicon octicon-sync" {{action 'setToDefaultValue' 'lobbyVoiceChatEnabled'}}></i></label>
        <div class="checkbox-slider">
          {{input data-command="lobby_voice_chat_enabled" id="voice-chat-in-lobby-box" type="checkbox" checked=lobbyVoiceChatEnabled}}
          <label for="voice-chat-in-lobby-box"></label>
        </div>
      </div>
    </div>
  </div>
</section>
