<div class="navbar">
  <div class="navbar__inner">
    <div class="wrapper">
      <h1 class="navbar__logo">{{link-to "CS:GO Configr" "new.rate"}}</h1>
      <button type="button" class="navbar__menu octicon octicon-three-bars"></button>
      <ul class="nav">
        <li>{{link-to "Rate" "new.rate" activeClass="selected"}}</li>
        <li>{{link-to "Audio" "new.audio" activeClass="selected"}}</li>
        <li>{{link-to "Video" "new.video" activeClass="selected"}}</li>
        <li>{{link-to "Mouse" "new.mouse" activeClass="selected"}}</li>
        <li>{{link-to "Misc" "new.misc" activeClass="selected"}}</li>
        <li>{{link-to "HUD" "new.hud" activeClass="selected"}}</li>
        <li>{{link-to "Radar" "new.radar" activeClass="selected"}}</li>
        <li>{{link-to "Keybind" "new.keybind" activeClass="selected"}}</li>
        <li>{{link-to "Crosshair" "new.crosshair" activeClass="selected"}}</li>
      </ul>
    </div>
  </div>
</div>

<div class="instructions">
  <h3>Instructions</h3>
  <ol>
    <li>Each field contains default settings. Adjust them however you like.</li>
    <li>Once finished, click one of the two download buttons below the <em>preview</em> box.
      <ul>
        <li>The "Download" button will just download a .cfg file to your computer.</li>
        <li>The "Save &amp; Download" button will save your settings and download a .cfg file to your computer. You can then use your unique URL to share your setttings.</li>
      </ul>
    </li>
    <li>Place the downloaded autoexec.cfg file in your CS:GO cfg directory.</li>
  </ol>
  <a class="instructions--close octicon octicon-x" title="close"></a>
</div>

{{outlet}}

<section>
  <h3>Preview</h3>
  <button type="button" class="btn btn--quick-use octicon octicon-clippy" {{action 'quickUseSelection'}}></button>
  <div class="output">
    <div class="output__options">
      {{textarea value=renderConfig class="output__textarea" id="autoexec-output" readonly="readonly" disabled="disabled"}}
      <div class="output__actions">
        <button type="button" class="btn btn--download" {{action 'download'}}><i class="mega-octicon octicon-file-text"></i> Download</button>
        <button type="button" class="btn btn--download__save" {{action 'saveAndDownload'}}><i class="mega-octicon octicon-cloud-download"></i> Save &amp; Download</button>
      </div>
    </div>
  </div>
</section>

